@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: 'Inter', sans-serif;
  background: #e1d4c9;
  color: #403f3d;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.title {
  color: #e1d4c9;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.title-dark {
  color: #403f3d;
}
.title__span {
  color: #b0907a;
  font-style: italic;
}

.header {
  padding: 20px 0;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 100px;
  margin-right: 366px;
}
.menu-list {
  display: flex;
}
.menu-item {
  margin-right: 40px;
}
.menu-item a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.menu-item:last-child {
  margin-right: 0;
  margin-left: 326px;
}
.menu-item__btn-menu {
  padding-right: 4px;
}
.main-content {
  margin-bottom: 100px;
}
.main-content__info {
  background: url(/img/main-bg.jpg), lightgray 50% / cover no-repeat;
  border-radius: 40px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.main-content__title {
  width: 530px;
}
.main-content__p {
  width: 530px;
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.main-content__btn {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #e1d4c9;
}

.favorite {
  padding-bottom: 100px;
}
.favorite__title {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-bottom: 40px;
}
.slider {
  position: relative;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665f55;
  background: transparent;
}
.slider__arrow--prev {
  left: 0;
}
.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.slider__title,
.slider__price {
  color: #403f3d;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.slider__image {
}
.slider__description {
  max-width: 480px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-align: center;
}
.slider__navigation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 12px;
}
.dot {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #c1b6ad;
  cursor: pointer;
}
.active {
  background: #665f55;
}
.slider__arrow--next {
  right: 0;
}
/* Стили для секции "about" */
.about {
  padding-bottom: 100px;
}

.about__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%; /* 75px */
  padding-bottom: 40px;
}
.about__flex-container {
  display: flex;
  gap: 40px;
}
.about__images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: top;
  gap: 40px;
}
.about__image {
  width: 660px;
  height: 590px;
  border-radius: 20px;
}
.about__image.about__image-small {
  width: 660px;
  height: 430px;
}
.about__image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
