@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: 'Inter', sans-serif;
  background: #e1d4c9;
  color: #403f3d;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 100px;
  margin-right: 366px;
}
.header__menu {
}
.menu-list {
  display: flex;
}
.menu-item {
  margin-right: 40px;
}
.menu-item a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.menu-item:last-child {
  margin-right: 0;
  margin-left: 326px;
}
.menu-item__btn-menu {
  padding-right: 4px;
}

.main-content {
}
.container {
}
.main-content__info {
  background-image: url(/img/53de184b52e70f8c6142237a41f29303.jpg);
  border-radius: 40px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.main-content__title {
  width: 530px;
  color: #e1d4c9;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.main-content__title span {
  color: #b0907a;
  font-style: italic;
}
.main-content__p {
  width: 530px;
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.main-content__btn {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #e1d4c9;
}
